@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Airstream-webfont.woff') format('woff'),
      url('fonts/Airstream-webfont.ttf') format('truetype'),
      url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
      font-weight: normal;
      font-style: normal;
}
h1{
    font-size: 30px;
    color: #000000;;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: airstreamregular;
  }

  table{
    width:100%;
    table-layout: fixed;
    color: #000000;
    border:black;
  }


  body {
    background: rgb(149,194,215);
  }

  .cell-text {
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    padding: 12px 20px;
    font-family: "Roboto";
  }

  .list-content {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .picture-content {
    display: flex;
    min-width: 200px;
    max-width: 400px;
    border: 1px solid blue;
    background: yellow;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: auto;
  }

  .data-box {
    display: block;
  }
